<div class="container" id="shop-nav">
    <ul class="nav justify-content-center">
        <!-- All products link -->
        <li class="nav-item dropdown">
            <a class="nav-link text-warning bg-secondary" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-warning" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price Up</a>
                <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">By Price Down</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?stock" class="dropdown-item ">In Stock</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!-- Shop by category links -->
        <li class="nav-item dropdown">
            <a class="nav-link text-warning bg-secondary" href="#" id="by-category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by Category
            </a>
            <div class="dropdown-menu border-warning" aria-labelledby="by-category-link">
                {% for item in all_categories %}
                <a href="{% url 'products' %}?category={{ item }}" class="dropdown-item">{{ item.friendly_name }}</a>
                {% endfor %}
            </div>
        </li>
        <!-- Sale -->
        <li class="nav-item  bg-secondary"> 
            <a class="nav-link disabled text-warning" href="#" id="sale" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sale
            </a>
        </li>
    </ul>
</div>