/* Globals */
:root {
    --warning: #FFC107;
    --dark: #343A40;
}

body {
    color: var(--dark);
}

footer {
    background: url('/media/footer.png') repeat-x center scroll;
    height: 250px;
    background-size: contain;
}

#about {
    background-color: #E1E5EE;
}

/* Forms */

.input-number {
    text-align: center;
    font-weight: bold;
    color: var(--dark);
}

/* Remove arrows in input number form field */

/* In Chrome, Safari, Edge, Opera */
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* In Firefox */
.input-number {
    -moz-appearance: textfield;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* Toasts */

.message-container {
    position: fixed;
    top: 75px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}
