<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="{% url 'home' %}">
        <span class="text-dark">
        <img src="{{ MEDIA_URL }}logo.png" width="150" height="75" class="d-inline-block" alt="Honey word writtten in honeycomb with a few honey bees on it">
        <span class="logo">2 BUY</span>
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">ToBe...</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="account" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span><i class="fa-solid fa-circle-user fa-xl text-warning"></i></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="account">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a class="dropdown-item" href="">Product Management</a>
                            <div class="dropdown-divider"></div>
                        {% endif %}
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Orders</a>
                        <a class="dropdown-item" href="#">Wishlist</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'account_logout' %}" >Logout</a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                        <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="search" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span><i class="fa-solid fa-magnifying-glass fa-xl text-warning"></i></span>
                    
                </a>
                <div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="search">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
            </li>
            <li>
                <a class="nav-link" href="{% url 'view_bag' %}">
                    <span>
                        <i class="fa-solid fa-cart-shopping fa-xl text-warning"></i>
                    </span>
                    {% if bag_items %}
                        <!-- {% for item in bag_items %} -->
                            <span class="bag-count badge badge-dark text-warning">{{ product_count }}</span>
                        <!-- {% endfor %} -->
                    {% endif %}
                </a>
            </li>
        </ul>
    </div>
</nav>